/*Reseteo de estilos y cambios generales*/
* {
    margin: 0;
    padding: 0;
}

/*Estilos principales de la Aplicacion (App)*/

.App {
    max-width: 1550px;
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    box-shadow: 0 2px 6px red;
    padding: 15px;
    box-sizing: border-box;
}
/*Barra de navegacion (NavBar)*/

.NavBar {
    width: 100%;
    min-height: 100px;
    max-width: 1550px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 5px 10px red;
    box-sizing: border-box;
    background-color: white;
}
.carrito {
    height: 50px;
}
img {
    height: 300px;
}

nav {
    padding-left: 300px;
    padding-right: 300px;
}
span {
    color:blue;
}
a {
    padding-left: 20px;
    padding-right: 20px;
}

.contenedor__productos {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));
    box-shadow: 0 5px 10px orangered;
}

.tarjeta__producto {

}