
/*HEADER*/

img {
    height: 45px;
}
header {
    display: flex;
    align-items: center;
    background-color:#1A1A40;
    justify-content: space-around;
}
nav {
    padding-left: 300px;
    padding-right: 300px;
}
span {
    color:blue;
}
a {
    padding-left: 20px;
    padding-right: 20px;
}

.contenedor__productos {
    background-color: #4C0027;
}
.tarjeta__producto {
    background-color: #082032;
}